name: deploy-host

on:
  push:
    branches:
      - main
      - develop

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      build-status: ${{ job.status }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24.x'
          cache: 'npm'

      - name: Install dependencies and Build
        run: |
          npm ci
          npm run generate
      - name: Upload Build Artifact
        uses: actions/upload-artifact@v6
        with:
          name: build-output
          path: .output/public/
          retention-days: 1
  deploy:
    needs: build
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Download Build Artifact
        uses: actions/download-artifact@v6
        with:
          name: build-output
          path: .output/public
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ vars.AWS_ROLE_ARN }}
          aws-region: ${{ vars.AWS_REGION }}
          role-session-name: GitHubActionsDeploy

      - name: Deploy to S3
        run: |
          aws s3 sync .output/public s3://${{ vars.S3_BUCKET_NAME }} --delete --region ${{ vars.AWS_REGION }}

      - name: Invalidate CloudFront Cache
        run: |
          aws cloudfront create-invalidation \
            --distribution-id ${{ vars.CLOUDFRONT_DISTRIBUTION_ID }} \
            --paths "/*.html" "/**//*.html"